# =================================================================
# Variables de Entorno - Caso VidaSalud (EP1 DSY1107)
# =================================================================

# 1. Configuración de Microsoft Entra ID (Azure)
# ID del Directorio (Inquilino / Tenant ID) registrado en Azure Portal
AZURE_TENANT_ID=9333d7eb-2af5-4631-835e-78e32d2ae6d1

# Application (Client) ID de vidasalud-api registrado en Entra ID
AZURE_API_CLIENT_ID=471213b2-94cc-4f45-bc30-d084984ac045

# Application (Client) ID del frontend SPA vidasalud-front
SPA_CLIENT_ID=c6d8da59-5b41-4ce9-ac81-192a3dafc87e

# 2. Configuración de Base de Datos Cloud (AWS RDS PostgreSQL / MySQL)
# En local/laboratorio, si se deja vacío usará base de datos en memoria H2
DB_URL=jdbc:postgresql://your-rds-endpoint.rds.amazonaws.com:5432/vidasalud_db
DB_USER=vidasalud_admin
DB_PASS=SecurePassword123!

# 3. Configuración de API Gateway / Red AWS
EC2_PUBLIC_IP=your-ec2-public-ip
AWS_REGION=us-east-1
API_GATEWAY_ID=your-api-gateway-id
